<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="style.css" rel="stylesheet">
    
    <title>Editar imagenes</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="image">
                <img id="img-main" name="myFile" src="" alt="">
            </div>
            <div class="content">
                <div class="icon"><img src="icons/upload.png"></div>
                <div class="text">Ningun archivo aún</div>
            </div>
        </div>
        <input id="default-btn" type="file" hidden>
        <button type="button" class="btn2" id="custom-btn" onclick="uploadImage()">
            Buscar
        </button>
        <input id="input_message" v-model="message" placeholder="Ruta">
        <form action="http://localhost:3050/send_imagedad" enctype="multipart/form-data" method="POST" >
            <button class="btn2" type="submit" id="sendData">
                Enviar
            </button>

        </form>

        <form action="http://localhost:3050/send_imagedad" enctype="multipart/form-data" method="POST"> 
            <input type="file" name="myImage" accept="image/*" />
            <input type="submit" value="Upload Photo"/>
          </form>

        <button class="btn2" type="button" id="btnGet" onclick="loadDoc()">
            Obtener
        </button>
        <div id="app">
            {{ message }}
        </div>
    </div>
      <div class="divTable" id="app-2">
          <table>
            <thead>
                <tr>
                    <th>Host</th><th>Activo</th><th id="title_reset">Reiniciar</th>
                </tr>
            </thead>
                <tr class="list-group-item" v-for="server in servers">
                    <td>{{ server.path }}</td><td>{{ server.alive }}</td><td><button class="btn1" id=btn_reset>Reiniciar</button></td>
                </tr>
          </table>
          <button class="btn2" id="btnCheck" type="button" id="sendData" onclick="checkServers()">Revisar servidores</button>
          <button class="btn2" id="btnSendEmail" type="button" id="sendEmail" onclick="sendEmail()">Enviar correo</button>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="app.js"></script>
</body>
<script>
function uploadImage(){
    const defaultBtn = document.querySelector("#default-btn");
    const customBtn = document.querySelector("#custom-btn");
    const img = document.querySelector("img");
    defaultBtn.click();
    defaultBtn.addEventListener("change", function(){
        file = this.files[0];
        if(file){
            const reader = new FileReader();
            reader.onload = function(){
                const result = reader.result;
                img.src = result;
                }
                reader.readAsDataURL(file);
            }
        });
  }

</script>

</html>


